<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{user.image}}" alt="Card image cap">
            <div class="card-body"> 
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h5 class="card-title">Full Name: {{user.fullname}}</h5>
        <p class="card-text">Email: {{user.email}}</p>
    </div>
</div>
